# Nextflow specific files
nextflow.log
work/
# Containers and cache directories
.docker/
.nextflow/
# Python bytecode files
*.pyc
__pycache__/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Logs and temporary files
*.log
*.tmp
